openapi: 3.0.0
info:
  title: Snälltåget API
  version: 1.0.0
  description: |-
    Availability and pricing API for [snalltaget.se](https://www.snalltaget.se).

    ## Trains

    | Number | Type | Route | Season |
    |--------|------|-------|--------|
    | D 10300/10301 | STNIGHT | Berlin/Hamburg ↔ Stockholm | seasonal (~Apr–Dec) |
    | D 300/301 | STNIGHT | Berlin/Hamburg ↔ Malmö | same as D 10300 (night section) |
    | D 30/31 | STTRAIN | Malmö ↔ Oslo (via Göteborg) | since 15.06.2026, quasi-daily |
    | 3940/3941 | STTRAIN | Stockholm ↔ Malmö ↔ Copenhagen | year-round, daily |
    | 306/307 | STTRAIN | Stockholm ↔ Hamburg (via Copenhagen) | since 04.05.2026, daily |
    | 304/305 | STNIGHT | Malmö ↔ Austria (via Hamburg) | winter + summer, Fr |
    | 24/25 | STNIGHT | Malmö ↔ Åre / Trondheim (summer) | Aug–Sep, ~2x/wk; Trondheim extension 5-6 Sep 2026 |
    | 3900–3905 | STNIGHT | Malmö ↔ Storlien/Åre/Vemdalen | winter, variable |
    | 13904/13905 | STNIGHT | Malmö ↔ Vemdalen (couchette split) | winter Fr/Sa |
    | 3908/3909 | STTRAIN | Malmö ↔ Mora (+bus Sälen) | winter, Saturdays |

    Multiple trains share the same physical consist but are split in the booking system
    (e.g. D 300 + 3940 = D 10300, split at Malmö; 3904 + 13904, split at Östersund).

    ## Authentication

    Bearer token from `GET https://www.snalltaget.se/token/v2` (no credentials, User-Agent required).
    Initial token: 900s TTL. Refreshed token: 1800s TTL.

    ## Stations

    Major stations (99 total available via `/navigation/stops`):

    | Station | Search value | EVA | Short | Country |
    |---------|-------------|-----|-------|---------|
    | Berlin | `Berlin` | 800010100 | — | DEU |
    | Hamburg | `Hamburg` | 800020400 | — | DEU |
    | Dresden | `Dresden` | — | — | DEU |
    | Malmö | `Malmö C` | 740000003 | M | SWE |
    | Stockholm | `740000001` | 740000001 | CST | SWE |
    | Göteborg | `Göteborg` | — | — | SWE |
    | Oslo | `760000100` | 760000100 | — | NOR |
    | Hell | `760001208` | 760001208 | — | NOR |
    | Trondheim | `760001126` | 760001126 | TND | NOR |
    | Zell am See | — | 810000320 | — | AUT |

    Search uses name strings or EVA numbers; booking uses EVA numbers.
    Prices in SEK.
servers:
  - url: https://apiv2.snalltaget.se
    description: API server
  - url: https://www.snalltaget.se
    description: Token server (auth only)
paths:
  /token/v2:
    get:
      tags:
        - Authentication
      summary: Get Bearer Token
      operationId: getToken
      servers:
        - url: https://www.snalltaget.se
      description: |-
        Returns an anonymous Bearer token for API access. No credentials needed.

        **Required:** `User-Agent` header with a browser-like value (Cloudflare blocks empty/default UA with 403).

        Example: `User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36`
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT Bearer token (15 min TTL)
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds
                    example: 900

  /orientation/calendar:
    post:
      tags:
        - Availability
      summary: Get Calendar Availability
      operationId: getCalendar
      description: |-
        Returns per-day availability and cheapest price for a given route and date range.
        Each date entry contains the cheapest available price (amount), remaining capacity,
        and quota at the current price tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - direction
                - origin
                - destination
                - begin
                - end
                - passengers
              properties:
                direction:
                  type: string
                  enum:
                    - outbound
                    - inbound
                  description: "'outbound' if origin is Berlin/Hamburg/Dresden, 'inbound' if origin is Stockholm"
                  example: outbound
                origin:
                  type: string
                  description: Station identifier
                  example: Berlin
                destination:
                  type: string
                  description: Station identifier
                  example: '740000001'
                begin:
                  type: string
                  format: date
                  description: Start of date range
                  example: '2026-09-01'
                end:
                  type: string
                  format: date
                  description: End of date range
                  example: '2026-09-30'
                passengers:
                  type: array
                  items:
                    type: string
                    enum:
                      - AD
                      - CH
                      - YTH
                      - ST
                      - SR
                  description: |-
                    Passenger types:
                    AD = Adult, CH = Child 0–15, YTH = Youth 16–25, ST = Student 16–99, SR = Senior 60–99
                  example:
                    - AD
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  calendar:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        amount:
                          type: number
                          format: float
                          description: Cheapest available price in SEK
                          example: 499.0
                        quota:
                          type: integer
                          description: Remaining seats at the current amount price tier
                          example: 17
                        capacity:
                          type: integer
                          description: Remaining total capacity across all classes
                          example: 34
                    example:
                      '2026-09-01':
                        amount: 499.0
                        quota: 17
                        capacity: 34
                      '2026-09-02':
                        amount: 599.0
                        quota: 8
                        capacity: 22

  /orientation/searchjourney:
    post:
      tags:
        - Search
      summary: Search Journey Offers
      operationId: searchJourney
      description: |-
        Returns available offers for a specific departure date including product families,
        comfort zones, travel legs, and pricing bundles.

        A travel with 1 leg is a direct night train. 2 legs indicate a transfer.

        Each bundle contains pricing, flexibility level, required items, and optional extras.

        **`oppositedate` behavior:** When set to a valid return date, the response includes
        both outbound AND inbound routes in a single call (separate `Travel` objects).
        When `null`, only the outbound direction is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - origin
                - destination
                - departure
                - oppositedate
                - passengers
                - travelWithpet
              properties:
                origin:
                  type: string
                  description: Station identifier
                  example: Berlin
                destination:
                  type: string
                  description: Station identifier
                  example: '740000001'
                departure:
                  type: string
                  format: date
                  description: Departure date
                  example: '2026-09-15'
                oppositedate:
                  type: string
                  format: date
                  description: Return date (used for round-trip context)
                  example: '2026-09-20'
                passengers:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                    properties:
                      type:
                        type: string
                        enum:
                          - AD
                          - CH
                          - YTH
                          - ST
                          - SR
                        description: |-
                          AD = Adult, CH = Child 0–15, YTH = Youth 16–25, ST = Student 16–99, SR = Senior 60–99
                  example:
                    - type: AD
                travelWithpet:
                  type: boolean
                  description: Whether travelling with a pet
                  example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offer:
                    type: object
                    properties:
                      productFamilies:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProductFamily'
                      comfortZones:
                        type: array
                        items:
                          $ref: '#/components/schemas/ComfortZone'
                      travels:
                        type: array
                        items:
                          $ref: '#/components/schemas/Travel'
                      passengers:
                        type: array
                        items:
                          type: object
                  messages:
                    type: array
                    items:
                      type: object

  /orientation/searchservices:
    post:
      tags:
        - Search
      summary: Search Service Details
      operationId: searchServices
      description: |-
        Returns detailed service information for given service identifiers.

        ServiceIdentifier format: `0:RDA|{trainNr}|{STNIGHT|STTRAIN}|{date}|{departure}|{arrival}`

        - STNIGHT: night train service
        - STTRAIN: day train service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - serviceIdentifiers
              properties:
                serviceIdentifiers:
                  type: array
                  items:
                    type: string
                  description: Service identifier strings
                  example:
                    - '0:RDA|10300|STNIGHT|20260915|1830|0930'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceItem'
                  itemCount:
                    type: integer
                    example: 1

  /auth/refreshtoken:
    post:
      tags:
        - Authentication
      summary: Refresh Token
      operationId: refreshToken
      description: |-
        Refreshes the Bearer token. Send the current token in the Authorization header
        with an empty request body.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: New token returned
          content:
            application/json:
              schema:
                type: string
                description: New Bearer token

  /navigation/stops:
    get:
      tags:
        - Reference Data
      summary: Get All Stations
      operationId: getStops
      description: |-
        Returns all 99 stations served by Snälltåget with codes, short codes, and synonyms.
        Covers SE, NO, DK, DE, AT.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      description: EVA number or internal code
                      example: '740000001'
                    shortCode:
                      type: string
                      description: Short abbreviation
                      example: CST
                    name:
                      type: string
                      description: Station name
                      example: Stockholm C
                    synonyms:
                      type: array
                      items:
                        type: string
                      description: Alternative names for search
                      example: ['Stockholm C', 'Centralen', 'Stockholm']

  /fare/passengertypes:
    get:
      tags:
        - Reference Data
      summary: Get Passenger Types
      operationId: getPassengerTypes
      description: |-
        Returns available passenger types with age restrictions.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      enum:
                        - AD
                        - CH
                        - YTH
                        - ST
                        - SR
                      description: |-
                        AD = Erwachsener (Adult)
                        CH = Kind 0–15 (Child)
                        YTH = Jugend 16–25 (Youth)
                        ST = Student 16–99
                        SR = Senior 60–99
                      example: AD
                    name:
                      type: string
                      example: Adult
                    minAge:
                      type: integer
                      example: 0
                    maxAge:
                      type: integer
                      example: 99

  /interrail/validate:
    post:
      tags:
        - Interrail
      summary: Validate Interrail Pass
      operationId: validateInterrail
      description: |-
        Validates one or more Interrail/Eurail pass numbers for a given travel date.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - numbers
                - date
              properties:
                numbers:
                  type: array
                  items:
                    type: string
                  description: Pass numbers to validate
                  example:
                    - '123456789'
                date:
                  type: string
                  format: date
                  description: Travel date
                  example: '2026-08-31'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        number:
                          type: string
                        valid:
                          type: boolean

  /vouchers/verify:
    post:
      tags:
        - Vouchers
      summary: Verify Voucher
      operationId: verifyVoucher
      description: |-
        Verifies a voucher (värdebevis) against a booking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherRequest'
      responses:
        '200':
          description: Voucher valid
        '400':
          description: Invalid voucher
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Inget aktivt värdebevis kunde hittas

  /vouchers/discountcode/verify:
    post:
      tags:
        - Vouchers
      summary: Verify Discount Code
      operationId: verifyDiscountCode
      description: |-
        Verifies a discount code (rabattkod) against a booking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherRequest'
      responses:
        '200':
          description: Code valid
        '400':
          description: Invalid code
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Ogiltig rabattkod

  /booking:
    post:
      tags:
        - Booking
      summary: Create Booking
      operationId: createBooking
      description: |-
        Creates a booking for one or more segments. Uses EVA numbers for stations
        (not the search string identifiers). Returns a booking number (PNR).

        Tariff codes: `NMR_NTBRF` (shared berth), `SPRBNT` (seat rebookable night),
        `SPPCRB_1` (private compartment seat rebookable).

        Option items: `TAB` (take-away breakfast 99 SEK), `VTAB` (vegan TAB 99 SEK).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - segments
                - passengers
              properties:
                segments:
                  type: array
                  items:
                    type: object
                    properties:
                      origin:
                        type: string
                        description: EVA number
                        example: '800010100'
                      destination:
                        type: string
                        description: EVA number
                        example: '740000003'
                      direction:
                        type: string
                        enum:
                          - outbound
                          - inbound
                      departure:
                        type: string
                        format: date-time
                      serviceName:
                        type: string
                        example: '300'
                      serviceIdentifier:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            passengerId:
                              type: string
                              example: passenger_1
                            tariffCode:
                              type: string
                              example: NMR_NTBRF
                      optionItems:
                        type: array
                        description: "Add-on items (meals, transport)"
                        items:
                          type: object
                          properties:
                            passengerId:
                              type: string
                              example: passenger_1
                            tariffCode:
                              type: string
                              description: |-
                                Meal options:
                                - TAB = Take-Away Breakfast (99 SEK)
                                - VTAB = Vegan Take-Away Breakfast, gluten- and lactose-free (99 SEK)
                                - BIK = Breakfast in Krogen (99 SEK)
                                - VBIK = Vegan Breakfast in Krogen (99 SEK)
                                - DIK = Dinner in Krogen (199 SEK)
                                - VDIK = Vegan Dinner in Krogen (199 SEK)
                                - DIKH = Dinner in Krogen Child under 12 (99 SEK)
                                - VDIKH = Vegan Dinner in Krogen Child under 12 (99 SEK)

                                Transport options:
                                - LCI390 = Check-in Luggage (149 SEK)
                                - BCI = Check-in Bicycle (199 SEK)
                                - SCI30 = Check-in Ski (price varies)
                              enum:
                                - TAB
                                - VTAB
                                - BIK
                                - VBIK
                                - DIK
                                - VDIK
                                - DIKH
                                - VDIKH
                                - LCI390
                                - BCI
                                - SCI30
                              example: TAB
                passengers:
                  type: array
                  description: Passenger definitions
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: passenger_1
                      type:
                        type: string
                        enum: [AD, CH, YTH, ST, SR]
                        description: |-
                          AD = Adult, CH = Child 0–15, YTH = Youth 16–25, ST = Student 16–99, SR = Senior 60–99
                      travelDocuments:
                        type: array
                        items:
                          type: object
      responses:
        '200':
          description: Booking created
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookingNumber:
                    type: string
                    description: PNR / booking reference
                    example: MVVDCX
                  payments:
                    type: array
                    items:
                      type: object
                  bookingFulfillmentMethod:
                    type: object
                    properties:
                      name:
                        type: string
                      code:
                        type: string
                        example: HP_E

  /tablebooking/availabletimes:
    post:
      tags:
        - Table Booking
      summary: Get Available Krogen Times
      operationId: getAvailableTimes
      description: |-
        Returns available time slots for a Krogen (restaurant) reservation on a specific service.

        Product codes determine the time window:
        - Dinner: `DIK`, `VDIK`, `DIKH`, `VDIKH` → `slotStartTime=15:00`, `slotEndTime=23:45`, `slotOffsetDays=0`
        - Breakfast: `BIK`, `VBIK` → `slotStartTime=05:30`, `slotEndTime=10:45`, `slotOffsetDays=1`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - departureTime
                - arrivalTime
                - serviceName
                - slotStartTime
                - slotEndTime
                - slotOffsetDays
                - persons
                - productCode
              properties:
                departureTime:
                  type: string
                  format: date-time
                  example: '2026-08-26T06:38:00'
                arrivalTime:
                  type: string
                  format: date-time
                  example: '2026-08-26T13:16:00'
                serviceName:
                  type: string
                  description: Train number
                  example: '30'
                slotStartTime:
                  type: string
                  description: Earliest slot time (HH:MM)
                  example: '05:30'
                slotEndTime:
                  type: string
                  description: Latest slot time (HH:MM)
                  example: '10:45'
                slotOffsetDays:
                  type: integer
                  description: Day offset from departure (0 = same day)
                  example: 0
                persons:
                  type: integer
                  example: 1
                productCode:
                  type: string
                  enum:
                    - BIK
                    - VBIK
                    - DIK
                    - VDIK
                    - DIKH
                    - VDIKH
                  example: DIKH
      responses:
        '200':
          description: Available time slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: string
                      description: "Time slot (HH:MM)"
                    example: ["09:15", "09:30", "09:45", "10:00"]
                  date:
                    type: string
                    format: date
                    example: '2026-08-26'

  /tablebooking/booktemporary:
    post:
      tags:
        - Table Booking
      summary: Create Temporary Reservation
      operationId: bookTemporary
      description: |-
        Creates a temporary table reservation. The reservation is confirmed when the
        booking is finalized via `/booking`. Can be cancelled via DELETE.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - date
                - time
                - serviceName
                - persons
              properties:
                date:
                  type: string
                  format: date
                  example: '2026-08-26'
                time:
                  type: string
                  description: "Selected time slot (HH:MM)"
                  example: '09:45'
                serviceName:
                  type: string
                  description: Train number
                  example: '30'
                persons:
                  type: integer
                  example: 1
      responses:
        '200':
          description: Temporary reservation created
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookingId:
                    type: integer
                    description: Temporary reservation ID
                    example: 64440603

  /tablebooking/temporary/{bookingId}:
    delete:
      tags:
        - Table Booking
      summary: Cancel Temporary Reservation
      operationId: cancelTemporaryBooking
      description: |-
        Cancels a temporary Krogen table reservation.
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: integer
          description: Temporary reservation ID from booktemporary response
          example: 64440603
      responses:
        '204':
          description: Reservation cancelled

  /booking/{pnr}/cancel:
    post:
      tags:
        - Booking
      summary: Cancel Booking
      operationId: cancelBooking
      description: |-
        Cancels a booking by PNR. Returns 204 with empty body on success.
      parameters:
        - name: pnr
          in: path
          required: true
          schema:
            type: string
          description: Booking PNR (6 alphanumeric chars)
          example: TYS5NQ
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '204':
          description: Booking cancelled

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |-
        Token obtained from GET https://www.snalltaget.se/token/v2.
        Requires User-Agent header to avoid Cloudflare 403.

  schemas:
    ProductFamily:
      type: object
      properties:
        id:
          type: string
          description: |-
            Product family code. Naming convention: {Category}{Flexibility}

            Categories:
            - SP = Seat (Sitzplatz)
            - FC = First Class Seat (1. Klasse)
            - NTB = Night Train Berth, shared compartment (Liegeplatz im geteilten Abteil)
            - NTPC = Night Train Private Compartment (Privates Abteil, 6 Plätze, Nachtzug)
            - SPPC = Seat Private Compartment (Privates Sitzabteil, Tagzug)
            - FCPC = First Class Private Compartment (1. Klasse Privates Abteil)
            - FCS = First Class Seat (1. Klasse Sitz, alternative code)

            Flexibility suffixes:
            - NF = Non-Flexible (nicht umbuchbar/erstattbar)
            - SF = Semi-Flexible (umbuchbar bis 24h vor Abfahrt)
            - FF = Full-Flexible (erstattbar bis Abfahrt / 7 Tage bei NTPC)

            Known codes:
            - SPNF, SPSF, SPFF (Seat)
            - FCSNF, FCSSF, FCSFF (First Class Seat)
            - NTBNF, NTBSF, NTBFF (Shared Berth)
            - NTPCSF, NTPCFF (Night Private Compartment)
            - NTPCCNF (Night Private Compartment Comfort)
            - SPPCSF, SPPCFF (Seat Private Compartment, day train)
            - FCPCSF, FCPCFF (First Class Private Compartment)
          example: NTPCSF
        name:
          type: string
          description: Display name (localized)
          example: Privates Abteil

    ComfortZone:
      type: object
      properties:
        code:
          type: string
          enum:
            - NRR
            - REBOOK
            - REFUND
          description: Comfort zone code
          example: NRR
        name:
          type: string
          example: Not Rebookable or Refundable

    Travel:
      type: object
      properties:
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Route'

    Route:
      type: object
      properties:
        legs:
          type: array
          description: "1 leg = direct night train, 2 legs = transfer"
          items:
            $ref: '#/components/schemas/Leg'
        bundles:
          type: array
          items:
            $ref: '#/components/schemas/Bundle'

    Leg:
      type: object
      properties:
        origin:
          type: string
          example: Berlin
        destination:
          type: string
          example: '740000001'
        departure:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        serviceIdentifier:
          type: string
          example: '0:RDA|10300|STNIGHT|20260915|1830|0930'

    Bundle:
      type: object
      properties:
        id:
          type: string
        productFamilyId:
          type: string
          description: References ProductFamily.id
          example: SPNF
        price:
          type: number
          format: float
          description: Current price in SEK
          example: 499.0
        originalPrice:
          type: number
          format: float
          description: Original price before discounts
          example: 499.0
        flexibility:
          type: string
          enum:
            - refundable
            - rebookable
            - nonrefundable
          description: Flexibility level of the bundle
          example: nonrefundable
        requiredItems:
          type: array
          items:
            type: object
        options:
          type: array
          items:
            type: object

    ServiceItem:
      type: object
      properties:
        name:
          type: string
          description: Train number
          example: '300'
        serviceIdentifier:
          type: string
          example: '0:RDA|300|STNIGHT|2026-08-25|2026-08-25T19:14|2026-08-26T06:30'
        serviceType:
          type: object
          properties:
            name:
              type: string
              example: Snälltåget
            code:
              type: string
              enum:
                - STNIGHT
                - STTRAIN
              example: STNIGHT
        serviceProperties:
          type: array
          description: "On-board amenities"
          items:
            type: object
            properties:
              code:
                type: string
                enum:
                  - KIOSK
                  - KROG
                  - BAG
                  - BIKE
                description: |-
                  KIOSK = Night train kiosk/bistro
                  KROG = Restaurant car (Krogen)
                  BAG = Checked luggage available
                  BIKE = Bicycle transport available
                example: KROG
              description:
                type: string
                example: Speisewagen
        travelInfo:
          type: array
          description: Current travel advisories (construction, diversions)
          items:
            type: object
            properties:
              title:
                type: string
                example: Aufgrund von Bauarbeiten halten die Züge nicht am Hamburg Hbf.
              content:
                type: string
                example: Aufgrund von Bauarbeiten halten die Züge nicht am Hamburg Hbf.

    VoucherRequest:
      type: object
      required:
        - bookingNumber
        - voucherCode
        - travelDates
      properties:
        bookingNumber:
          type: string
          description: PNR from booking
          example: QKIL7R
        voucherCode:
          type: string
          description: Voucher or discount code
          example: SUMMER2026
        email:
          type: string
          example: ''
        travelDates:
          type: array
          items:
            type: string
            format: date
          example:
            - '2026-11-27'

security:
  - BearerAuth: []
